{% extends 'base.html.twig' %}

{% block title %}Hello New Guy !{% endblock %}

{% block body %}
<h1>Création d'un nouvel utilisateur</h1>

    <div id="newForm">
        {{ form(form) }}
    </div>
{% endblock %}